.denhaag-theme {
  /* Den Haag tokens */
  --denhaag-action-context-lg-gap: 16px;
  --utrecht-space-around: 1;
  --utrecht-root-font-family: var(--utrecht-document-font-family);
  --utrecht-alert-column-gap: 16px;
  --utrecht-alert-margin-block-end: 32px;
  --utrecht-pagination-margin-block-start: 24px;
  --nl-heading-level-1-margin-block-end: 16px;
  --nl-heading-level-2-margin-block-start: 32px;
  --nl-heading-level-2-margin-block-end: 16px;
  --nl-heading-level-3-margin-block-start: 0;
  --nl-paragraph-margin-block-end: 16px;
  --nl-skip-link-background-color: var(--denhaag-color-ocher-2);
  --nl-skip-link-color: var(--denhaag-color-blue-5);
  --denhaag-description-list-margin-block-end: 32px;

  /* Amsterdam component tokens */
  --ams-grid-wide-column-count: 12;
  --ams-grid-medium-column-count: 6;
  --ams-grid-column-count: 3;
  --ams-grid-column-gap: 16px;
  --ams-grid-row-gap-xl: 32px;
  --ams-grid-padding-inline: 8px;
  --ams-grid-medium-padding-inline: 16px;
  --ams-grid-wide-padding-inline: 24px;
  --ams-page-footer-spotlight-background-color: var(--denhaag-footer-background-color);

  /* Custom component tokens */
  --todo-page-footer-heading-font-family: var(--nl-heading-level-4-font-family);
  --todo-page-footer-heading-color: var(--denhaag-footer-heading-color);
  --todo-page-footer-color: white;
  --todo-page-footer-focus-color: white;
  --todo-link-footer-text-decoration-line: none;
  --todo-skip-link-focus-outline-color: var(--denhaag-focus-border-color);
  --todo-skip-link-focus-outline-style: var(--denhaag-focus-border-style);
  --todo-skip-link-focus-outline-width: var(--denhaag-focus-border-width);
  --todo-skip-link-focus-outline-offset: -0.125rem;
  --todo-skip-link-focus-padding-inline-end: 10px;
  --todo-skip-link-focus-padding-inline-start: 10px;
  --todo-link-footer-focus-outline-color: var(--denhaag-color-ocher-2); /* footer link in adress  */
  --todo-link-footer-focus-outline-style: dashed;
  --todo-link-footer-focus-outline-width: 2px;
  --todo-link-list-footer-focus-outline-offset: 2px;
  --todo-link-list-footer-focus-outline-width: var(--denhaag-focus-border-width);
  --todo-link-list-footer-focus-outline-color: var(--denhaag-color-ocher-2);
  --todo-link-list-footer-focus-outline-style: var(--denhaag-focus-border-style);
  --todo-link-footer-focus-text-decoration-line: none;
}
