.denhaag-theme {
  --utrecht-space-around: 1;
  --utrecht-root-font-family: var(--utrecht-document-font-family);
  --utrecht-alert-column-gap: 16px;
  --utrecht-alert-margin-block-end: 32px;
  --nl-heading-level-1-margin-block-end: 16px;
  --nl-heading-level-2-margin-block-start: 32px;
  --nl-heading-level-2-margin-block-end: 16px;
  --nl-heading-level-3-margin-block-start: 0;
  --nl-paragraph-margin-block-end: 16px;

  /* Amsterdam component tokens */
  --ams-grid-wide-column-count: 12;
  --ams-grid-medium-column-count: 6;
  --ams-grid-column-count: 3;
  --ams-grid-column-gap: 16px;
  --ams-grid-row-gap-xl: 32px;
  --ams-grid-padding-inline: 8px;
  --ams-grid-medium-padding-inline: 16px;
  --ams-grid-wide-padding-inline: 24px;
  --ams-page-footer-spotlight-background-color: var(--denhaag-footer-background-color);

  /* Custom component tokens */
  --todo-page-footer-heading-font-family: var(--nl-heading-level-4-font-family);
  --todo-page-footer-heading-color: var(--denhaag-footer-heading-color);
  --todo-page-footer-color: white;

  /* Skip Link tokens */
  --nl-skip-link-background-color: var(--denhaag-color-ocher-2);
  --nl-skip-link-color: var(--denhaag-color-blue-5);
}
