.voorbeeld-theme {
  --nl-heading-level-1-margin-block-end: var(--basis-space-block-xl);
  --nl-heading-level-2-margin-block-start: var(--basis-space-block-3xl);
  --nl-heading-level-2-margin-block-end: var(--basis-space-block-xl);
  --nl-paragraph-margin-block-end: var(--basis-space-block-xl);

  /* Utrecht component tokens */
  --utrecht-space-around: 1;
  --utrecht-alert-margin-block-end: var(--basis-space-block-3xl);
  --utrecht-page-header-border-block-end-color: var(--basis-color-accent-1-color-default);
  --utrecht-page-header-border-block-end-width: 2px;
  --utrecht-focus-outline-color: #0b0c0c;
  --utrecht-focus-outline-style: dashed;
  --utrecht-focus-outline-width: 2px;

  /* Amsterdam component tokens */
  --ams-grid-wide-column-count: 12;
  --ams-grid-medium-column-count: 6;
  --ams-grid-column-count: 3;
  --ams-grid-column-gap: var(--basis-space-inline-md);
  --ams-grid-row-gap-xl: var(--basis-space-block-xl);
  --ams-grid-padding-inline: var(--basis-space-block-xl);
  --ams-grid-medium-padding-inline: var(--basis-space-block-xl);
  --ams-grid-wide-padding-inline: var(--basis-space-block-xl);

  /* Den Haag component tokens */
  --denhaag-focus-border: 2px dashed #0b0c0c;
  --denhaag-file-focus-outline-color: #0b0c0c;
  --denhaag-file-focus-outline-style: dashed;
  --denhaag-file-focus-outline-width: 2px;
  --denhaag-side-navigation-display: flex;
  --denhaag-side-navigation-mobile-display: var(--denhaag-side-navigation-display);
  --denhaag-side-navigation-flex-direction: column;
  --denhaag-side-navigation-row-gap: var(--basis-space-row-3xl);
  --denhaag-side-navigation-list-padding-inline-start: 0px;
  --denhaag-side-navigation-list-padding-block-start: 0px;
  --denhaag-side-navigation-list-padding-block-end: 0px;
  --denhaag-side-navigation-link-hover-color: var(--basis-color-action-2-color-hover);
  --denhaag-side-navigation-link-current-font-weight: var(--basis-text-font-weight-bold);
  --denhaag-side-navigation-link-current-color: var(--basis-color-default-color-document);
  --denhaag-side-navigation-link-active-font-weight: var(--basis-text-font-weight-bold);
  --denhaag-side-navigation-link-active-color: var(--basis-color-action-2-color-active);
  --denhaag-side-navigation-link-padding-block-start: var(--basis-space-block-lg);
  --denhaag-side-navigation-link-padding-block-end: var(--basis-space-block-lg);
  --denhaag-side-navigation-link-column-gap: var(--basis-space-column-max-md);
  --denhaag-side-navigation-link-color: var(--basis-color-action-2-color-default);
  --denhaag-side-navigation-item-line-height: var(--basis-text-line-height-md);
  --denhaag-side-navigation-item-font-weight: var(--basis-text-font-weight-default);
  --denhaag-side-navigation-item-font-size: var(--basis-text-font-size-md);
  --denhaag-side-navigation-item-font-family: var(--basis-text-font-family-default);
  --denhaag-side-navigation-min-width: 240px;

  /* Den Haag Case Card */
  --denhaag-case-card-height: 192px;
  --denhaag-case-card-border-radius: var(--basis-border-radius-sm);
  --denhaag-case-card-padding-block-start: var(--basis-space-inline-2xl);
  --denhaag-case-card-wrapper-padding-block-start: var(--basis-space-inline-2xl);
  --denhaag-case-card-wrapper-padding-block-end: var(--basis-space-block-2xl);
  --denhaag-case-card-wrapper-padding-inline-start: var(--basis-space-inline-3xl);
  --denhaag-case-card-wrapper-padding-inline-end: var(--basis-space-inline-3xl);
  --denhaag-case-card-title-line-height: 1.5;
  --denhaag-case-card-subtitle-line-height: 1.5;
  --denhaag-case-card-background-color: var(--basis-color-action-2-bg-active);
  --denhaag-case-card-paper-color: white;
  --denhaag-case-card-background-background-color: var(--basis-color-action-2-bg-default);
  --denhaag-case-card-title-color: var(--basis-heading-color);
  --denhaag-case-card-title-font-size: var(--basis-text-font-size-lg);
  --denhaag-case-card-title-font-weight: var(--basis-heading-font-weight);
  --denhaag-case-card-subtitle-color: var(--basis-color-default-color-document);
  --denhaag-case-card-subtitle-font-family: revert;

  /* Custom component tokens */
  --todo-page-header-logo-color: var(--basis-color-accent-1-color-default);
  --todo-page-footer-heading-color: var(--basis-color-default-inverse-color-document);
  --todo-page-footer-heading-font-family: var(--basis-text-font-family-default);
  --todo-page-footer-color: var(--basis-color-default-inverse-color-document);
  --todo-page-footer-focus-color: #0b0c0c;
  --todo-side-navigation-focus-background-color: var(--basis-focus-background-color);
  --todo-skip-link-focus-padding-inline-end: var(--basis-space-inline-xl);
  --todo-skip-link-focus-padding-inline-start: var(--basis-space-inline-xl);
  --todo-skip-link-focus-outline-style: dashed;
  --todo-skip-link-focus-outline-color: #0b0c0c;
  --todo-skip-link-focus-outline-width: 2px;
  --todo-skip-link-focus-outline-offset: -0.125rem;
  --todo-action--single-focus-background-color: var(--utrecht-link-focus-background-color);
  --todo-link-focus-background-color: var(--utrecht-link-focus-background-color);
  --todo-link-focus-outline-color: white;
  --todo-link-focus-outline-style: dashed;
  --todo-link-focus-outline-width: 2px;
  --todo-link-focus-text-decoration: none;
  --todo-link-focus-color: #0b0c0c;
  --todo-link-list-focus-outline-style: dashed;
  --todo-link-list-focus-outline-width: 2px;
  --todo-link-list-focus-outline-color: white;
  --todo-breadcrumb-nav-focus-outline-color: #0b0c0c;
  --todo-breadcrumb-nav-focus-outline-style: dashed;
  --todo-breadcrumb-nav-focus-outline-width: 2px;
  --todo-breadcrumb-nav-focus-border-radius: 2%;
}
