.voorbeeld-theme {
  --utrecht-space-around: 1;

  /* Amsterdam component tokens */
  --ams-grid-wide-column-count: 12;
  --ams-grid-medium-column-count: 6;
  --ams-grid-column-count: 3;
  --ams-grid-column-gap: var(--basis-space-inline-md);
  --ams-grid-row-gap-xl: var(--basis-space-block-xl);
  --ams-grid-padding-inline: var(--basis-space-block-xl);
  --ams-grid-medium-padding-inline: var(--basis-space-block-xl);
  --ams-grid-wide-padding-inline: var(--basis-space-block-xl);

  /* Den Haag component tokens */
  --denhaag-side-navigation-display: flex;
  --denhaag-side-navigation-mobile-display: var(--denhaag-side-navigation-display);
  --denhaag-side-navigation-flex-direction: column;
  --denhaag-side-navigation-row-gap: var(--basis-space-row-3xl);
  --denhaag-side-navigation-list-padding-inline-start: 0px;
  --denhaag-side-navigation-list-padding-block-start: 0px;
  --denhaag-side-navigation-list-padding-block-end: 0px;
  --denhaag-side-navigation-link-hover-color: var(--basis-color-action-2-color-hover);
  --denhaag-side-navigation-link-current-font-weight: var(--basis-text-font-weight-bold);
  --denhaag-side-navigation-link-current-color: var(--basis-color-default-color-document);
  --denhaag-side-navigation-link-active-font-weight: var(--basis-text-font-weight-bold);
  --denhaag-side-navigation-link-active-color: var(--basis-color-action-2-color-active);
  --denhaag-side-navigation-link-padding-block-start: var(--basis-space-block-lg);
  --denhaag-side-navigation-link-padding-block-end: var(--basis-space-block-lg);
  --denhaag-side-navigation-link-column-gap: var(--basis-space-column-max-md);
  --denhaag-side-navigation-link-color: var(--basis-color-action-2-color-default);
  --denhaag-side-navigation-item-line-height: var(--basis-text-line-height-md);
  --denhaag-side-navigation-item-font-weight: var(--basis-text-font-weight-default);
  --denhaag-side-navigation-item-font-size: var(--basis-text-font-size-md);
  --denhaag-side-navigation-item-font-family: var(--basis-text-font-family-default);
  --denhaag-side-navigation-min-width: 240px;

  /* Spacing tokens */
  --utrecht-heading-1-margin-block-end: var(--basis-space-block-xl);
  --utrecht-heading-2-margin-block-start: var(--basis-space-block-3xl);
  --utrecht-heading-2-margin-block-end: var(--basis-space-block-xl);
  --utrecht-paragraph-margin-block-end: var(--basis-space-block-xl);
  --utrecht-alert-margin-block-end: var(--basis-space-block-xl);

  /* Custom component tokens */
  --todo-page-footer-heading-color: var(--basis-color-default-inverse-color-document);
  --todo-page-footer-heading-font-family: var(--basis-text-font-family-default);
  --todo-page-footer-color: var(--basis-color-default-inverse-color-document);
}

.denhaag-theme {
  --utrecht-space-around: 1;
  --ams-grid-wide-column-count: 12;
  --ams-grid-medium-column-count: 6;
  --ams-grid-column-count: 3;
  --ams-grid-column-gap: 16px;
  --ams-grid-row-gap-xl: 32px;
  --ams-grid-padding-inline: 8px;
  --ams-grid-medium-padding-inline: 16px;
  --ams-grid-wide-padding-inline: 24px;
  --utrecht-root-font-family: var(--utrecht-document-font-family);
  --utrecht-alert-column-gap: 16px;
  --utrecht-heading-1-margin-block-end: 16px;
  --utrecht-heading-2-margin-block-start: 32px;
  --utrecht-heading-2-margin-block-end: 16px;
  --utrecht-heading-3-margin-block-start: 0;
  --utrecht-paragraph-margin-block-end: 16px;
  --utrecht-alert-margin-block-end: 32px;
  --ams-page-footer-spotlight-background-color: var(--denhaag-footer-background-color);
  --todo-page-footer-heading-font-family: var(--nl-heading-level-4-font-family);
  --todo-page-footer-heading-color: var(--denhaag-footer-heading-color);
  --todo-page-footer-color: white;
}

.rhc-theme {
  --utrecht-space-around: 1;
  --utrecht-root-font-family: var(--rhc-font-family-primary);
  --todo-page-header-logo-color: var(--rhc-logo-image-color);
  --todo-page-header-border-block-end: 1px solid var(--rhc-logo-image-color);

  /* Amsterdam component tokens */
  --ams-grid-wide-column-count: 12;
  --ams-grid-medium-column-count: 6;
  --ams-grid-column-count: 3;
  --ams-grid-column-gap: var(--rhc-space-300);
  --ams-grid-row-gap-xl: var(--rhc-space-200);
  --ams-grid-padding-inline: var(--rhc-space-300);
  --ams-grid-medium-padding-inline: var(--rhc-space-400);
  --ams-grid-wide-padding-inline: var(--rhc-space-500);
  --ams-page-footer-spotlight-background-color: var(--utrecht-page-footer-background-color);

  /* Den Haag component tokens */
  --denhaag-side-navigation-display: flex;
  --denhaag-side-navigation-flex-direction: column;
  --denhaag-side-navigation-row-gap: var(--rhc-space-300);
  --denhaag-side-navigation-list-padding-inline-start: 0px;
  --denhaag-side-navigation-list-padding-block-start: 0px;
  --denhaag-side-navigation-list-padding-block-end: 0px;
  --denhaag-side-navigation-link-hover-color: var(--rhc-sidenav-link-hover-color);
  --denhaag-side-navigation-link-active-font-weight: var(
    --rhc-sidenav-link-current-font-weight
  ); /* NOTE: current state seems to use this active font weight token */

  --denhaag-side-navigation-link-current-font-weight: var(--rhc-sidenav-link-current-font-weight);
  --denhaag-side-navigation-link-current-color: var(--rhc-sidenav-link-current-color);
  --denhaag-side-navigation-link-active-color: var(
    --rhc-sidenav-link-current-color
  ); /* NOTE: again, because current uses active tokens, we are using rhc-current for this active token */

  --denhaag-side-navigation-link-padding-block-start: var(--rhc-sidenav-link-padding-block-start);
  --denhaag-side-navigation-link-padding-block-end: var(--rhc-sidenav-link-padding-block-end);
  --denhaag-side-navigation-link-column-gap: var(--rhc-sidenav-link-column-gap);
  --denhaag-side-navigation-link-color: var(--rhc-sidenav-link-color);
  --denhaag-side-navigation-item-line-height: var(--rhc-sidenav-link-line-height);
  --denhaag-side-navigation-item-font-weight: var(--rhc-sidenav-link-font-weight);
  --denhaag-side-navigation-item-font-size: var(--rhc-sidenav-link-font-size);
  --denhaag-side-navigation-item-font-family: var(--rhc-sidenav-link-font-family), sans-serif;

  /* Den Haag Action */
  --denhaag-action-color: var(--rhc-color-cool-grey-900);
  --denhaag-action-content-bold-font-weight: 700;
  --denhaag-action-border-color: #cbd5e1;
  --denhaag-action-border-style: solid;
  --denhaag-action-border-width: 1px;
  --denhaag-action-single-padding-block-start: var(--rhc-space-150);
  --denhaag-action-single-padding-block-end: var(--rhc-space-150);
  --denhaag-action-single-padding-inline-end: var(--rhc-space-200);
  --denhaag-action-padding-inline-start: var(--rhc-space-150);
  --denhaag-action-padding-inline-end: var(--rhc-space-150);
  --denhaag-action-padding-block-start: var(--rhc-space-150);
  --denhaag-action-padding-block-end: var(--rhc-space-150);
  --denhaag-action-details-gap: var(--rhc-space-150);
  --denhaag-action-details-lg-gap: var(--rhc-space-150);
  --denhaag-action-date-color: var(--rhc-color-cool-grey-900);
  --denhaag-action-date-font-weight: var(500);
  --denhaag-action-date-warning-gap: var(--rhc-space-150);
  --denhaag-action-date-warning-color: var(--rhc-color-oranje-500);
  --denhaag-action-date-warning-font-weight: bold;
  --denhaag-action-actions-gap: var(--rhc-space-150);
  --denhaag-action-lg-gap: var(--rhc-space-150);
  --denhaag-action-lg-padding-block-start: var(--rhc-space-150);
  --denhaag-action-lg-padding-block-end: var(--rhc-space-150);

  /* Den Haag Case Card */
  --denhaag-case-card-height: 192px;
  --denhaag-case-card-border-radius: 3px;
  --denhaag-case-card-padding-block-start: 20px;
  --denhaag-case-card-wrapper-padding-block-start: 12px;
  --denhaag-case-card-wrapper-padding-block-end: 24px;
  --denhaag-case-card-wrapper-padding-inline-start: 24px;
  --denhaag-case-card-wrapper-padding-inline-end: 24px;
  --denhaag-case-card-title-line-height: 1.5;
  --denhaag-case-card-subtitle-line-height: 1.5;
  --denhaag-case-card-background-color: var(--rhc-color-lichtblauw-500);
  --denhaag-case-card-paper-color: var(--rhc-color-wit);
  --denhaag-case-card-background-background-color: var(--rhc-color-lichtblauw-100);
  --denhaag-case-card-title-color: var(--rhc-color-cool-grey-900);
  --denhaag-case-card-title-font-family: var(--rhc-font-family-primary);
  --denhaag-case-card-title-font-size: 20px;
  --denhaag-case-card-title-font-weight: 700;
  --denhaag-case-card-subtitle-color: var(--rhc-color-cool-grey-800);
  --denhaag-case-card-subtitle-font-family: var(--rhc-font-family-primary);
  --denhaag-case-card-subtitle-margin-block-start: var(--rhc-space-150);

  /* Spacing tokens */
  --utrecht-heading-1-margin-block-end: var(--rhc-space-300);
  --utrecht-heading-2-margin-block-start: var(--rhc-space-600);
  --utrecht-heading-2-margin-block-end: var(--rhc-space-300);
  --utrecht-alert-margin-block-end: var(--rhc-space-600);

  /* Utrecht header */
  --utrecht-page-header-border-block-end-color: var(--rhc-logo-image-color);
  --utrecht-page-header-border-block-end-width: 2px;

  /* Custom component tokens */
  --todo-page-footer-color: var(--utrecht-page-footer-color);
  --todo-page-footer-heading-font-family: var(--nl-heading-level-4-font-family);
  --todo-page-footer-heading-color: white;
}
