.todo-page-footer__spotlight {
  --utrecht-heading-4-color: var(--todo-page-footer-heading-color);
  --utrecht-heading-4-margin-block-end: 8px;
  --utrecht-heading-4-font-family: var(--todo-page-footer-heading-font-family);
  --utrecht-paragraph-color: var(--todo-page-footer-color);
  --utrecht-link-color: var(--todo-page-footer-color);
  --utrecht-link-hover-color: var(--todo-page-footer-color);

  color: var(--todo-page-footer-color);
  padding-block-end: 3em;
  padding-block-start: 2em;
}

.todo-page-footer__grid {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
}

.todo-address {
  font-style: inherit;
  margin-block: 0;
}

.todo-card-layout {
  column-gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block-end: 32px;
  row-gap: 32px;
}

.todo-card-layout > .denhaag-case-card {
  inline-size: 328px;
}

@media screen and (width <= 1087px) {
  .todo-grid-cell--hide-on-medium {
    display: none;
  }
}
