.todo-page-footer__spotlight {
  --utrecht-heading-4-color: var(--todo-page-footer-heading-color);
  --utrecht-heading-4-margin-block-end: var(--voorbeeld-space-block-beetle);
  --utrecht-paragraph-color: var(--todo-page-footer-color);
  --utrecht-link-color: var(--todo-page-footer-color);
  --utrecht-link-hover-color: var(--todo-page-footer-color);

  color: var(--todo-page-footer-color);
  padding-block-end: 3em;
  padding-block-start: 2em;
}

.todo-page-footer__grid {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
}

@media screen and (width <= 1087px) {
  .todo-grid-cell--hide-on-medium {
    display: none;
  }
}
