.todo-page-content {
  margin-inline: auto;
  max-inline-size: 1087px;
}

.todo-page-header {
  --utrecht-page-header-padding-block-start: 20px;
  --utrecht-page-header-padding-block-end: 12px;

  margin-block-end: 24px;
  margin-inline: auto;
}

.todo-page-header-content {
  margin-inline: auto;
  max-inline-size: 1248px;
}

.todo-page-header-content svg path:first-child {
  color: var(--todo-page-header-logo-color);
}

.todo-address {
  font-style: inherit;
  margin-block: 0;
}

.todo-card-layout {
  column-gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block-end: 32px;
  row-gap: 32px;
}

.todo-card-layout > .denhaag-case-card {
  inline-size: 328px;
}

.todo-skip-link:focus-visible {
  /* refactor once it's supported in nl candidate */
  outline-color: var(--todo-skip-link-focus-outline-color);
  outline-offset: var(--todo-skip-link-focus-outline-offset);
  outline-style: var(--todo-skip-link-focus-outline-style);
  outline-width: var(--todo-skip-link-focus-outline-width);
  padding-inline-end: var(--todo-skip-link-focus-padding-inline-end);
  padding-inline-start: var(--todo-skip-link-focus-padding-inline-start);
}

.denhaag-side-navigation__link:focus-visible {
  background-color: var(--todo-link-focus-background-color);
  color: var(--todo-link-focus-color);
}

.todo-action--single:focus-visible {
  background-color: var(--todo-action--single-focus-background-color);
}

.todo-action--multi {
  margin-block-end: 48px;
}

.todo-description-list {
  margin-block-end: 32px;
}

.todo-file-component {
  margin-block-end: 16px;
}

.todo-page-footer__grid {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
}

.todo-page-footer__spotlight {
  --nl-heading-level-4-color: var(--todo-page-footer-heading-color);
  --nl-heading-level-4-margin-block-end: 8px;
  --nl-heading-level-4-font-family: var(--todo-page-footer-heading-font-family);
  --nl-link-color: var(--todo-page-footer-color);
  --utrecht-link-color: var(--todo-page-footer-color);
  --nl-link-hover-color: var(--todo-page-footer-color);
  --utrecht-link-hover-color: var(--todo-page-footer-color);
  --nl-link-text-decoration-line: var(--todo-link-footer-text-decoration-line);

  color: var(--todo-page-footer-color);
  padding-block-end: 3em;
  padding-block-start: 2em;
}

.todo-link--footer:focus-visible {
  /* refactor once it's supported in nl candidate */

  --nl-link-color: var(--todo-page-footer-focus-color);
  --nl-link-text-decoration-line: var(--todo-link-footer-focus-text-decoration-line);

  background-color: var(--todo-link-footer-focus-background-color);
  box-shadow: var(--todo-link-footer-focus-box-shadow);
  outline-color: var(--todo-link-footer-focus-outline-color);
  outline-offset: var(--todo-link-footer-focus-outline-offset);
  outline-style: var(--todo-link-footer-focus-outline-style);
  outline-width: var(--todo-link-footer-focus-outline-width);
}

.todo-link-list--footer {
  --utrecht-link-focus-color: var(--todo-page-footer-focus-color);
  --utrecht-focus-outline-color: var(--todo-link-list-footer-focus-outline-color);
  --utrecht-focus-outline-offset: var(--todo-link-list-footer-focus-outline-offset);
  --utrecht-focus-outline-style: var(--todo-link-list-footer-focus-outline-style);
  --utrecht-focus-outline-width: var(--todo-link-list-footer-focus-outline-width);
}

@media screen and (width <= 1087px) {
  .todo-grid-cell--hide-on-medium {
    display: none;
  }
}
